page-kp-info {
  .menu {
  	margin-top: 5%;
  	z-index:10;
  	color: black;
  	font-size:25px;
  }

  .picture {
    background-image: url('../assets/imgs/BackPicturePage.jpg');
    background-size: cover;
    background-position: center;
  }
  .kp {
    margin-top: 10%;
  }
}
